In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="root", password="opakaira")

In [3]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [4]:
# Use try-except block to create a database named "School_Shootings_db"
# If the database already exists then drop the database first, then create it again.
try:
    cursor.execute("CREATE DATABASE School_Shootings_db")
except:
    cursor.execute("DROP DATABASE School_Shootings_db")
    cursor.execute("CREATE DATABASE School_Shootings_db")
print("The database 'School_Shootings_db' is created.\n")    
√ç
# Set School_Shootings_db database for use 
cursor.execute("USE School_Shootings_db")
print("The database School_Shootings_db is set for use.")

The database 'School_Shootings_db' is created.

The database School_Shootings_db is set for use.

In [6]:
# The SQL query for the School table is: 
Create_School_Table ="""
CREATE TABLE IF NOT EXISTS School (
    SchoolID INT,
    Name VARCHAR(255),
    SchoolType VARCHAR(255),
    Enrollment INT
);"""

# Create School table
cursor.execute(Create_School_Table)
print("The School table is created.\n")

connection.commit()

The School table is created.

In [7]:
# The SQL query for the Shooter table is: 
Create_Shooter_Table ="""
CREATE TABLE IF NOT EXISTS Shooter (
    ShooterID INT,
    Name VARCHAR(255),
    Age INT,
    Gender VARCHAR(10),
    Ethnicity VARCHAR(255)
);"""

# Create Shooter table
cursor.execute(Create_Shooter_Table)
print("The Shooter table is created.\n")

connection.commit()

The Shooter table is created.

In [8]:
# The SQL query for the Location table is: 
Create_Location_Table ="""
CREATE TABLE IF NOT EXISTS Location (
    LocationID INT PRIMARY KEY,
    District VARCHAR(255),
    County VARCHAR(255),
    City VARCHAR(255),
    State VARCHAR(255)
);"""

# Create Location table
cursor.execute(Create_Location_Table)
print("The Location table is created.\n")

connection.commit()

The Location table is created.

In [11]:
# The SQL query for the Incident table is: 
Create_Incident_Table ="""
CREATE TABLE IF NOT EXISTS Incident (
  IncidentID INT PRIMARY KEY,
  Date DATE,
  SchoolID INT,
  ShooterID INT,
  LocationID INT,
  FOREIGN KEY (SchoolID) REFERENCES School(SchoolID),
  FOREIGN KEY (ShooterID) REFERENCES Shooter(ShooterID),
  FOREIGN KEY (LocationID) REFERENCES Location(LocationID)
);
"""

# Create Incident table
cursor.execute(Create_Incident_Table)
print("The Incident table is created.\n")

connection.commit()

The Incident table is created.